streamlit==1.31.0
langchain==0.1.13
langchain-community==0.0.29
langchain-core==0.1.53
langchain-text-splitters==0.0.1
chromadb==0.4.22
pypdf==3.17.4
openai
torch
transformers
sentence-transformers>=2.5.0
huggingface-hub
tokenizers
numpy